.App {
  text-align: center;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: aqua;
  color: blue;
  border: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #fdff6d;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
}
